rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

		match /users/{userId} {
      allow create, read: if request.auth != null;
      allow update, delete: if request.auth != null && request.auth.uid == userId;
    }

    match /canvases/{canvasID} {
    	allow create: if request.auth != null;
    	allow read, update: if signedInAndOwner() || signedInAndShared();
      allow delete: if signedInAndOwner();

      function signedInAndOwner() {
        return request.auth != null && request.auth.uid == resource.data.owner;
      }

      function signedInAndShared() {
        return request.auth != null && resource.data.shared.hasAny([request.auth.uid]);
      }
    }
  }
}