.canvas-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.canvas-side-menu {
    display: flex;
    flex-direction: column;
}

.canvas-controls {
    margin-top: 10%;
    background-color: #fffffb;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 2px 4px #00000033;
    min-width: 130px;
    height: 200px;
}

.view-checkbox {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-content: center;
}

.view-checkbox input {
    margin-top: 5px;
}

.canvas-info {
    display: flex;
    justify-content: flex-end;
}

.floor-mapping {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0 0 0;
}

.floor-button {
    display: flex;
    justify-content: center;
    width: 50px;
    box-shadow: 0 2px 4px #00000033;
}

.arrow-button{
    font-size: 30px;
    font-weight: bold;
    justify-content: center;
    width: 70px;
    box-shadow: 0 2px 4px #00000033;
}