.filter {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00000099;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.frame {
  width: 80%;
  min-width: 500px;
  height: 80%;
  max-width: 90vw;
  background: #fffffb;
  border-radius: 6px;
  z-index: 10000;
  overflow: auto;
  scrollbar-width: thin;
}

.guide-frame {
  width: 80%;
  min-width: 500px;
  height: 80%;
  max-width: 90vw;
  background: #fffffb;
  border-radius: 6px;
  z-index: 10000;
}

.small-frame {
  width: 50%;
  max-height: 80%;
  min-width: 600px;
  max-width: 90vw;
  background: #fffffb;
  border-radius: 6px;
  overflow: auto;
  z-index: 10000;
}

.new-label-frame {
  width: 40%;
  max-height: 80%;
  min-width: 500px;
  max-width: 90vw;
  background: #fffffb;
  border-radius: 6px;
  overflow: auto;
  z-index: 10000;
}

.exit {
  display: flex;
  justify-content: flex-end;
}

.exit button {
  background-color: #fffffb;
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 2px;
}

.exit button:hover {
  background-color: #ff6767;
  cursor: pointer;
}

h2 {
  display: flex;
  justify-content: center;
  white-space: pre;
}

.popup-content {
  padding: 0px 25px 25px 25px;
}

.popup-content button {
  background-color: #fffffb;
  padding: 1rem;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  transition: background-color 0.5s ease;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100%;
  position: relative;
}

.popup-content button:hover {
  background-color: #efefef;
  cursor: pointer;
}

.dimensions {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.upload-map {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 5px 0 5px 0;
}

.upload-map button {
  background-color: #ff6767;
  padding: 5px 10px 5px 10px;
}

input {
  width: 100px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.create-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}

button:disabled {
  background-color: #fffffb !important;
  cursor: default !important
}

.create-button button:disabled {
  background-color: #fffffb;
  cursor: default;
}

.floor-plan-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.floor-plan-container {
  border: 1px solid #000000;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.floor-plan-container:hover {
  background-color: #efefef;
  cursor: pointer;
}

.form-container {
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  justify-content: left;
  align-items: left;
  flex-direction: column;
}

label {
  padding: 5px 0 5px 0;
}

input {
  width: 200px;
  border-radius: 2px;
}

.floor-plan-grid {
  border-top: solid 1px #d3d3d3;
}

.floor-plan-grid li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  transition: background-color 0.5s ease;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  margin: 0 50px 0 50px;
  padding: 10px 0 10px 0;
}

.floor-plan-grid li:hover {
  background-color: #efefef;
  cursor: pointer;
}

.upper-bar {
  display: flex;
  gap: 15px;
}

.round-icon {
  display: flex;
  justify-content: flex-end;
  width: 20px;
  padding: 5px;
  border-radius: 20px;
  transition: background-color 0.5s ease;
}

.round-icon:hover {
  background-color: #fffffb;
  cursor: pointer;
}

.tabs {
  display: flex;
}

.tabs button {
  border: solid 1px #d3d3d3;
}

.user-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.vertical-display {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label input {
  width: 100%
}

.input-on {
  cursor: pointer !important;
}

.input-off {
  background-color: #fffffb !important;
  cursor: default !important;
  border: none;
}

.checkbox {
  width: 20px;
}

.sensor-list {
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: 0 20px 20px 10px;
  margin-bottom: 10px;
  overflow-x: auto;
  scrollbar-width: thin;
}

.sensor-list select {
  border: none;
  outline: none;
  font-size: 16px;
  background-color: #fffffb;
}

h2 input {
  font-size: 18px;
  font-weight: bold;
  width: fit-content;
}

tr {
  text-align: left;
}

th {
  padding-right: 20px;
}

td {
  padding-right: 10px;
}

.device-info {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding-bottom: 20px;
}

.sensor-header {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.info-tooltip {
  color: #9cdaf3;
  font-weight: lighter;
}

.info-tooltip:hover {
  cursor: default;
}

.sensor-display {
  display: flex;
  align-items: center;
  gap: 5px;
}

.sensor-display img {
  margin-top: 5px;
  width: 30px
}

.guide-container {
  display: flex;
  flex-direction: row;
}

.guide-container .popup-content {
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin: 15px;
  padding: 15px;
  overflow: auto;
  max-height: 400px;
  scrollbar-width: thin;
}

.guide-section {
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  margin: 0px 0px 10px 0px;
  padding: 15px;
}

.guide-section img {
  display: block;
  margin: 0 auto;
}

.tab-menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  text-align: center;
  width: 100px;
  margin: 0 0 0 10px;
}

.tab-menu .button-on {
  background-color: #efefef !important;
}

.tab-menu button {
  display: flex;
  justify-content: center;
  width: 90px;
}

.upper-device-buttons {
  display: flex;
  gap: 70%;
  margin: -15px 0px 5px 0px;
}

.label-view {
  display: flex;
  align-items: center;
  gap: 5px;
}

.add-label button {
  background-color: #efefef;
  border: 1px solid #d3d3d3;
  padding: 5px 10px 5px 10px;
}

.bubble {
  display: flex;
  align-items: center;
  border: 2px solid #efefef;
  border-radius: 10px;
  padding: 2px 5px 2px 5px;
  width: fit-content;
  gap: 5px;
}

.bubble button {
  padding: 0px 5px 0px 5px;
  background-color: #ff6767;
}

.select-dropdown {
  display: inline-block;
  position: relative;
  background-color: #fffffb;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px #00000033;
  width: 100px;
  height: 120px;
  overflow: auto;
  scrollbar-width: thin;
  margin: -100px -45px -100px -100px;
  top: 95px;
  left: 65px;
  z-index: 1000;
}

.select-dropdown button {
  padding: 5px 10px 10px 10px;
}

.split-view {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.split-view button {
  padding: 20px;
  height: 35px;
}

.room-list-view {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
}