.box {
    background-color: #fffffb;
    position: fixed;
    top: 100px;
    left: 0;
    width: auto;
    height: 400px; 
    padding: 0 1rem 0 1rem;
    border-radius: 0px 3px 3px 0px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
    scrollbar-width: thin;
}

.box:hover {
    overflow-y: auto;
    scrollbar-width: thin;
}

.head-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid black;
    gap: 5px;

}

.menu-icon {
    width: 15px;
}

.content-grid {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 5px;
}

.content-grid p {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    padding: 0px 0px 10px 0px;
    margin-bottom: -8px;
}

.content {
    padding: 5px 5px 0px 5px;
    display: flex;
    justify-content: left;
}

button {
    background-color: rgb(255, 255, 251);
    padding: 1rem;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    transition: background-color 0.5s ease;
    display: flex;
    align-items: center;
    gap: 5px;
}

button:hover {
    background-color: #efefef;
    cursor: pointer;
}

.content:last-child {
    margin-bottom: 10px;
}

.slider {
    border-top: 1px solid black;
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


datalist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
}


